.epc-from-wrapper{
    width: 100%;
}
.epc-from-wrapper p input{
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 20px;
}
.epc-from-wrapper p textarea{
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 20px;
}
.epc-from-wrapper button{
    border: none;
    padding: 10px 30px;
    background-color: #28303d;
    color:#d1e4dd;
}
.epc-from-wrapper button:hover{
    background-color: black !important;
    color: #fff;
}