.epc-from-wrapper{
    width: 100%;
}
.epc-from-wrapper p input{
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 20px;
}
.epc-from-wrapper p textarea{
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 20px;
}
.epc-from-wrapper button{
    border: none;
}
.epc-from-wrapper button:hover{
    background-color: black !important;
    color: #fff;
}